{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <h1>{% block title %}{% endblock %}</h1>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-dark bg-dark">
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#tex-navbar-collapse-1">
                        <span class="navbar-toggler-icon"></span>
                    </button> <a class="navbar-brand" href="#">Tex</a>
                    <div class="collapse navbar-collapse" id="tex-navbar-collapse-1">
                        <ul class="navbar-nav">
                            <li class="nav-item" active>
                                <a class="nav-link" href="/tracking">Tracking <span class="sr-only"></span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/jets">Jets</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/upload">Upload</a>
                            </li>
                            <li class="nav-item">
                                    <a class="nav-link" href="/maps">Google Maps</a>
                                </li>
                            </ul>
                        <ul class="navbar-nav ml-md-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="/admin" target="_blank">Admin <span
                                        class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api/v1" target="_blank">REST-API</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/schema" target="_blank">Schema</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}
                {% block main %}{% endblock %}

            </div>
        </div>
    </div>
</body>

</html>